<style>
.news-container[data-scrollable="true"] {
  max-height: 60vh;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .news-container[data-scrollable="true"] {
    max-height: 60vw;
  }
}
</style>

<div class="news">
  {% if site.news != blank -%}
  {%- assign news_size = site.news | size -%}
  <div class="table-responsive news-container" {% if news_size > 3 %}data-scrollable="true"{% endif %}>
    <table class="table table-sm table-borderless">
    {%- assign news = site.news | reverse -%}
    {% if include.limit and site.announcements.limit %}
    {% assign news_limit = site.announcements.limit %}
    {% else %}
    {% assign news_limit = news_size %}
    {% endif %}
    {% for item in news limit: news_limit %}
      <tr>
        <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
        <td>
          {% if item.inline -%}
            {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
          {%- else -%}
            <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
          {%- endif %}
        </td>
      </tr>
    {%- endfor %}
    </table>
  </div>
  {%- else -%}
    <p>No news so far...</p>
  {%- endif %}
</div>