
    
<div class="media-container">

    <a href="https://twimlai.com/podcast/twimlai/automated-design-of-agentic-systems/" class="media-card" target="_blank">
        <img src="/assets/img/media/TWIML.png" alt="TWIML" class="media-logo">
    </a>

    <a href="https://neurips.cc/virtual/2024/106575/" class="media-card" target="_blank">
        <img src="/assets/img/media/Neurips_langame.png" alt="NeurIPS workshop" class="media-logo">
    </a>
    
    <a href="https://event.baai.ac.cn/activities/836" class="media-card" target="_blank">
        <img src="/assets/img/media/zhiyuan.png" alt="BAAI" class="media-logo">
    </a>

    <a href="https://www.bilibili.com/video/BV1vJK8zCEiY/" class="media-card" target="_blank">
        <img src="/assets/img/media/synced.png" alt="synced" class="media-logo">
    </a>

</div>